Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm
.env
.env.*
!.env.example
.vscode
.cache
.viminfo
.bash_history
.gitconfig
.ssh
.bashrc
.bash_profile
.sudo_as_admin_successful
deploy/.claude/
.claude/
